<!DOCTYPE html>
<html lang="en" class="ms-dos">
    <head>
        <title><%= title %></title>
        <meta name="description" content="<%= description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="page-container">
            <header>
                <nav class="main-navigation">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="eve-online-ninja-hacking-guide.html">EVE Online: Ninja Hacking Guide</a>
                        </li>
                        <li>
                            <a href="gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="cv.html">CV</a>
                        </li>
                        <li>
                            <a href="projects.html">Projects</a>
                        </li>
                        <li>
                            <a href="links.html">Links</a>
                        </li>
                        <li>
                            <a href="terminal.html">Terminal</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main id="the-main-content">
                <h1><%= title %></h1>
                <%- htmlContent %>
            </main>
            <footer>
                <button id="scroll-to-top-button">☝️</button>
                <ul>
                    <li>Last updated: <%= lastUpdated %></li>
                    <li>
                        Contact me on <a href="https://bsky.app/profile/maritims.bsky.social">Bluesky</a>, <a href="https://linkedin.com/in/martin-severin-steffensen">LinkedIn</a> or <a href="https://github.com/Maritims">GitHub</a>
                    </li>
                </ul>
                <div class="badges">
                    <theme-switcher></theme-switcher>
                    <a href="https://pysj.party" target="_blank">
                        <img src="images/pysjparty-badge.webp" alt="pysjparty">
                    </a>
                    <norsk-programmering-badge></norsk-programmering-badge>
                    <frk-frontend-badge></frk-frontend-badge>
                    <wiigen-badge></wiigen-badge>
                    <a href="https://signup.upcloud.com/?promo=32BW92">
                        <img src="images/upcloud.webp" alt="UpCloud Badge">
                    </a>
                </div>
            </footer>
        </div>

        <script src="main.js"></script>
        <script src="norsk-programmering-badge.js"></script>
        <script src="frk-frontend-badge.js"></script>
        <script src="wiigen-badge.js"></script>
        <script src="theme-switcher.js"></script>
        <% scripts.forEach(script => { %>
            <script src="<%= script %>"></script>
        <% }) %>
    </body>
</html>
