@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Silkscreen';
    src: url('../fonts/slkscr.ttf');
}

@font-face {
    font-family: 'Digital-7';
    src: url('../fonts/digital-7.ttf');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf');
}

:root {
    --font-family: system-ui, sans-serif, serif;
    --font-size: 16px;
    --font-color: black;
    --bg-color: white;

    --link-color: #0000EE;
    --link-color-visited: #551A8B;
    --link-color-hover: var(--link-color);
    --altcha-color-base: var(--bg-color);

    --spacing: .5rem;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--bg-color);
}

body {
    --body-gutters: var(--spacing);
}

a {
    color: var(--link-color);

    &:visited {
        color: var(--link-color-visited);
    }

    &:hover {
        color: var(--link-color-hover);
    }

    &:active {
        color: hsl(from var(--link-color) h s 80%);
    }
}

nav.main-navigation {
    ul {
        @media (min-width: 768px) {
            list-style: none;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
        }
    }
}

.notification-container {
    display: grid;

    .notification {
        margin-block-end: var(--spacing);

        .notification-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

section.gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: calc(0.5 * var(--spacing)) var(--spacing);

    .image {
        button {
            background-color: transparent;
            border: none;
            padding: 0;

            img {
                aspect-ratio: 1/1;
                object-fit: cover;
                max-width: 100%;
                max-height: 50vh;
            }
        }

        dialog {
            &::backdrop {
                backdrop-filter: blur(10px);
            }

            border: none;
            max-width: 50vh;
            max-height: 90vh;
            overflow: hidden;
            padding: 0;
            max-inline-size: 100%;

            figure {
                margin: 0;
                padding: 0;

                figcaption {
                    padding: var(--spacing);
                    text-align: center;
                }

                img {
                    display: block;
                    margin-inline: auto;
                    max-height: 70vh;
                    width: auto;
                }
            }
        }
    }
}

section.guestbook {
    form {
        display: grid;

        .form-controls {
            display: grid;
            grid-template-columns: 1fr;
            gap: calc(0.5 * var(--spacing)) var(--spacing);
            align-items: baseline;

            @media (min-width: 768px) {
                grid-template-columns: max-content 1fr;
            }

            textarea {
                min-height: 8em;
            }
        }

        .form-actions {
            display: flex;
            justify-content: flex-end;
        }
    }

    .pagination {
        display: flex;
        flex-wrap: wrap;
        gap: calc(0.5 * var(--spacing)) var(--spacing);
    }

    .entries {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: calc(0.5 * var(--spacing)) var(--spacing);

        article {
            h3, h4 {
                margin: 0;
            }

            border: 1px solid white;
        }
    }
}

section.licenses {
    .license-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: calc(0.5 * var(--spacing)) var(--spacing);

        .license-card {
            h3 {
                margin: 0;
            }

            border: 1px solid white;
        }
    }
}

ul {
    &.horizontal-list {
        display: flex;
        list-style: none;
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * var(--spacing)) var(--spacing);

    .badges {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        gap: calc(0.5 * var(--spacing)) var(--spacing);
        align-content: center;
        line-height: 0;
    }
}

div.page-container {
    margin: 0 auto;
    width: 100%;

    @media (min-width: 1440px) {
        max-width: 1200px;
    }
}

button#scroll-to-top-button {
    background-color: black;
    border: none;
    bottom: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    position: fixed;
    right: 20px;
    width: 48px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }
}

@media print {
    nav.main-navigation,
    footer {
        display: none;
    }
}

article {
    &.job, &.school, &.volunteer-work {
        border-bottom: 1px solid var(--border-color);
    }
}