html.default {
    nav.main-navigation {
        ul {
            li {
                @media (min-width: 768px) {
                    &:not(:last-child)::after {
                        content: '/';
                        padding-inline: 5px;
                    }
                }
            }
        }
    }
}