html.default {
    nav.main-navigation {
        ul {
            li {
                &:not(:last-child)::after {
                    content: '/';
                    padding-inline: 5px;
                }
            }
        }
    }
}