*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Silkscreen';
    src: url('fonts/slkscr.ttf');
}

@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital-7.ttf');
}

:root {
    --font-family: system-ui, sans-serif, serif;

    --first-foreground-color: black;
    --first-background-color: white;
    --second-background-color: black;

    --link-color: #0000EE;
    --link-color-visited: #551A8B;
}

::backdrop {
    background-color: var(--second-background-color, revert);
    opacity: 0.5;
}

a {
    color: var(--link-color);

    &:visited {
        color: var(--link-color-visited);
    }

    &:hover {
        color: hsl(from var(--link-color) h s 115%);
    }

    &:active {
        color: hsl(from var(--link-color) h s 80%);
    }
}

div#the-page-container {
    margin: 0 auto;
    width: 100%;

    @media (min-width: 1440px) {
        max-width: 1200px;
    }
}

button#scroll-to-top-button {
    background-color: black;
    border: none;
    bottom: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    position: fixed;
    right: 20px;
    width: 48px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }
}

nav.main-navigation {
    padding: 0 0 5px 0;

    ul {
        margin: 0;
        padding: 0;

        & > li {
            display: inline-block;

            /*&:not(:last-child)::after {
                content: "/";
                padding: 0 5px 0 5px;
            }*/
        }
    }
}

@media print {

    nav.main-navigation,
    footer {
        display: none;
    }
}

section#the-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer {
    padding: 5px 0 0 0;

    ul {
        padding: 0;
        margin-bottom: 5px;
        list-style-type: none;

        li {
            display: inline-block;
        }
    }
}

article {
    &.job, &.school, &.volunteer-work {
        border-bottom: 1px solid var(--border-color);
    }
}