*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Silkscreen';
    src: url('fonts/slkscr.ttf');
}

@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital-7.ttf');
}

:root {
    --font-family: system-ui, sans-serif, serif;
    --font-size: 16px;
    --font-color: black;

    --link-color: #0000EE;
    --link-color-visited: #551A8B;
    --link-color-hover: var(--link-color);
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--bg-color);
}

a {
    color: var(--link-color);

    &:visited {
        color: var(--link-color-visited);
    }

    &:hover {
        color: var(--link-color-hover);
    }

    &:active {
        color: hsl(from var(--link-color) h s 80%);
    }
}

div.page-container {
    margin: 0 auto;
    width: 100%;

    @media (min-width: 1440px) {
        max-width: 1200px;
    }
}

button#scroll-to-top-button {
    background-color: black;
    border: none;
    bottom: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    position: fixed;
    right: 20px;
    width: 48px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }
}

nav.main-navigation {
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@media print {

    nav.main-navigation,
    footer {
        display: none;
    }
}

section.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    .image {
        button {
            background-color: transparent;
            border: none;
            padding: 0;

            img {
                aspect-ratio: 1/1;
                object-fit: cover;
                max-width: 100%;
                max-height: 50vh;
            }
        }

        dialog {
            &::backdrop {
                backdrop-filter: blur(10px);
            }

            border: none;
            max-width: 50vh;
            max-height: 90vh;
            overflow: hidden;
            padding: 0;

            figure {
                display: flex;
                flex-flow: column;
                margin: 0;
                padding: 0;
                align-items: center;
                justify-content: flex-start;

                figcaption {
                    padding: 1em;
                    text-align: center;
                }

                img {
                    width: auto;
                    max-height: 70vh;
                }
            }
        }
    }
}

footer {
    padding: 5px 0 0 0;

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding-inline: 5px;
        }
    }

    .badges {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: .25rem;
        align-items: center;
        margin-block-start: 1em;
        font-size: 0;
    }
}

article {
    &.job, &.school, &.volunteer-work {
        border-bottom: 1px solid var(--border-color);
    }
}