/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'MS-DOS';
    src: url('/fonts/Perfect DOS VGA 437.ttf');
}

html.ms-dos {
    --font-family: 'MS-DOS';
    --font-size: 22px;
    --ms-dos-gray: #c0c0c0;
    --font-color: #e4eaff;
    --bg-color: #0100ab;

    body {
        margin: 0;
    }

    nav.main-navigation {
        background-color: var(--ms-dos-gray);

        ul {
            li {
                a {
                    display: block;
                    padding: .25em .5em;
                    text-decoration: none;
                    background-color: var(--ms-dos-gray);
                    color: black;

                    &:visited {
                        color: black;
                    }

                    &:hover, &:focus {
                        background-color: black;
                        color: var(--ms-dos-gray);
                        text-decoration: none;
                        outline: none;
                    }
                }

                &:first-child a {
                    padding-inline-start: 1em;
                }
            }
        }
    }

    main {
        border-inline: 3px solid white;
        border-block-start: 2px solid white;
        margin-block-start: .5em;
        margin-inline: .15em;
        padding: 1em;
    }

    footer {
        background-color: #00aaa9;
        color: white;
        margin-inline: .15em;
        padding: 1em;

        a {
            color: black;
            text-decoration: none;

            :visited {
                color: black;
            }

            :hover {
                color: black;
                text-decoration: underline;
            }
        }
    }
}