:root {
    --main-font-family: system-ui, sans-serif;
    --main-color: black;
    --main-background-color: white;
    --secondary-background-color: black;
    --border-color: black;
    --link-color: blue;
    --link-color-visited: purple;

    --border-radius: 4px;
    --border-width: 0px;
    --spacing-unit: 8px;

    --is-blinking: none;
}

::backdrop {
    background-color: var(--secondary-background-color);
    opacity: 0.5;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-color);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-unit);
    font-family: var(--main-font-family);
}

body::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: var(--bg-scanlines, none);
    background-size: 100% 4px, 3px 100%; /* The scanline thickness */
    pointer-events: none; /* Let clicks pass through */
    z-index: 9999;
}

button, .card, select {
    /* Use the rainbow variable if it exists, otherwise use the main color */
    border-style: solid;
    border-width: var(--border-width);

    /* Fallback if no rainbow is set */
    border-color: var(--main-color);

    background: var(--secondary-background-color);
    color: var(--main-color);
    border-radius: var(--border-radius);
}

a {
    color: var(--link-color);

    &:visited {
        color: var(--link-color-visited);
    }
}

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Silkscreen';
    src: url('fonts/slkscr.ttf');
}

@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital-7.ttf');
}

div#the-page-container {
    margin: 0 auto;
    width: 100%;

    @media (min-width: 1440px) {
        max-width: 1200px;
    }
}

button#scroll-to-top-button {
    background-color: black;
    border: none;
    bottom: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    line-height: 48px;
    position: fixed;
    right: 20px;
    width: 48px;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;

    &.show {
        opacity: 1;
        transform: translateY(0);
    }
}

nav#the-main-navigation {
    padding: 0 0 5px 0;
}

@media print {

    nav#the-main-navigation,
    footer#the-main-footer {
        display: none;
    }
}

ul.horizontal-menu {
    margin: 0;
    padding: 0;

    &>li {
        display: inline-block;

        &:not(:last-child)::after {
            content: "/";
            padding: 0 5px 0 5px;
        }
    }
}

section#the-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer#the-main-footer {
    padding: 5px 0 0 0;

    ul.horizontal-menu {
        margin-bottom: 5px;
    }
}

article {
    &.job, &.school, &.volunteer-work {
        border-bottom: 1px solid var(--border-color);
    }
}